## String creation

In [1]:
My_first_string = "Hello world!"

In [2]:
print(My_first_string)

Hello world!

## String concatenation

In [3]:
first_name = "Monty"
last_name = "Python"

In [4]:
name = first_name + " " + last_name
print(name)

Monty Python

## Print formatting with strings

In [6]:
age = 30
my_age = ("I am " + str(age) + " years old")
print(my_age)

I am 30 years old

In [7]:
My_age = "I am {0} years old".format(age)
print(My_age)

I am 30 years old

In [8]:
name += ' ' + my_age
print(name)

Monty Python I am 30 years old

In [10]:
A = "Python"
B ="Basics"
C = "Managers"
print("{0} {1} for {2}".format(A, B, C))

Python Basics for Managers

## String indexing and slicing

## indexing

In [12]:
val = "2 apples"
no_of_apples = val[0]
print("number of apples is", no_of_apples)

number of apples is 2

In [13]:
what = val[2:]
print(what)

apples

## slicing by specifying start and end index

In [14]:
print(val[2:5])

app

In [15]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [16]:
print(batch[ :-2])

5 oranges 3 monkeys

In [17]:
animals = "tiger lion deer horse"
animals_2 = animals[10:-2]
print(animals_2)

 deer hor

In [18]:
nums = "123456789"
even_nums = nums[1: :2]
print(even_nums)

2468

In [19]:
odd_nums = nums[0: :2]
print(odd_nums)

13579

In [20]:
odd_nums_again = nums[ : : 2]
print(odd_nums_again)

13579

## String methods

### Case change

In [21]:
small = "I am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

### Remove spaces

In [22]:
some_sentence = "There is a space at the end   "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [23]:
increment = '4%'
print(increment.rstrip('%'))

4

In [24]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [25]:
start = '     There is space at the start'

In [26]:
spaces = "   Trim whitespaces  "